.cart-container{
    display: flex;
    flex-direction: column;
    
}
.order-list{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cart-card{
    width: 60%;
}
.card-cost{
    display: flex;
    justify-content: flex-end;
    flex: 1;
}
.proceed-to-checkout-button{
    display: flex;
    justify-content: flex-end;
    padding-right: 2rem;
}